<div class="jumbotron">
  <h1 class="title">伯乐网</h1>
  <p class="slogan">世有伯乐，然后有千里马。
  <br>
  千里马常有，而伯乐不常有。
  <br>
  伯乐网，连接伯乐与千里马。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">寻找伯乐</a></p>
</div>
